body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin,
#login form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#login form,
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  //text-align: center;
}
#login form,
.form-signin .checkbox {
  font-weight: normal;
}
#login form,
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

#login form,
.form-signin .form-control:focus {
  z-index: 2;
}
#login form,
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#login form,
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.acabamento {
  display: block;
  padding: 15px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.acabamento2 {
  margin-top: 15px;
}
.acabamento3 {
  margin-top: 4px;
}